= form_for(@med_test, html: {class: 'form-horizontal'}) do |f|
  - if @med_test.errors.any?
    .alert.alert-error
      %h2
        = pluralize(@med_test.errors.count, "error")
        prohibited this antibody from being saved:
      %ul
        - @med_test.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
    .control-group
      = f.label(:test_date, t('med_tests.object.attributes.test_date'), class: 'control-label')
      .controls
        .input-append.date{ 'data-date' => @med_test.test_date }
          = f.text_field :test_date, class: 'span2', readonly: false
          %span.add-on
            %i.icon-calendar
    .control-group
      = f.label(:tracking_number, t('med_tests.object.attributes.tracking_number'), class: 'control-label')
      .controls
        = f.text_field(:tracking_number, :class => 'input-xlarge', autocomplete: "off", placeholder: "NNNNNN-NN/YY", required: true)
    .control-group
      = f.label(:doctor_client, t('med_tests.object.attributes.doctor_client'), class: 'control-label')
      .controls
        = f.text_field(:doctor_client, :class => 'input-xlarge typeahead data-api', "data-provide" => "typeahead", "data-source" =>  @autosuggest.doctors_names.to_json, autocomplete: "off")
    .control-group
      = f.label(:doctor_client, t('med_tests.object.attributes.test_purpose'), class: 'control-label')
      .controls
        = f.text_field(:test_purpose, :class => 'input-xlarge typeahead data-api', "data-provide" => "typeahead", "data-source" =>  @autosuggest.test_purposes.to_json, autocomplete: "off")
    .control-group
      = f.label(:antibodies, t('med_tests.object.attributes.antibodies'), class: 'control-label')
      .controls
        .input-large.uneditable-input.tokenahead
          .measurer
          .tokens
            -  @med_test.antibodies.each do |antibody|
              %a.tag
                %span.close &times;
                %span=antibody.name
          %input{ name: :antibodies, type: "text", "data-source" =>  @autosuggest.antibody_names.to_json, "data-provide" => "tokenahead", autocomplete: "off", class: "data-api tokenahead-input"}

    .control-group
      = f.label(:description, t('med_tests.object.attributes.description'), class: 'control-label')
      .controls
        = f.text_area(:description, :class => 'input-xlarge', rows: 3)

    .control-group
      = f.label(:conclusion, t('med_tests.object.attributes.conclusion'), class: 'control-label')
      .controls
        = f.text_area(:conclusion, :class => 'input-xlarge', rows: 3)

    .form-actions
      = f.submit(t('med_tests.views.edit.save_and_create'), class: 'btn btn-primary', name: "save_create") if @med_test.new_record?
      = f.submit(t('view.common.save_changes'), class: 'btn', name: "save")
      = link_to(t('view.common.cancel'), :back,  class: "btn")
      = link_to(t('view.common.back_to_list'), med_tests_path, class: "btn pull-right")

